# Env
.env

# Build output
build/
bin/
dist/
tmp/
vendor/

# App data
/bleve/
logs/
assets/

# Test / coverage artifacts
*.out
coverage.html

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db
*.swp
